<div ng-controller="homectrol">
<div>
    <div class="welcome">
        <h1>Welcome to Aquarium Nexus</h1>
        <p class="home">Welcome to Nexus Aquarium's website! We are an incredible destination for ocean enthusiasts who want to explore the wonders of the underwater world. Combining modernity with a harmonious connection to nature, we offer you an exciting and immersive experience of life beneath the waves. From vibrant and diverse fish tanks to unique educational and entertainment programs, we aim to provide you with a whole new perspective on the ocean. Explore our website and get ready for an unforgettable adventure at Nexus Aquarium!</p>
    </div>
    
      <div class="slide">
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="Pictures/20 Best Bristlenose Pleco Tank Mates/clown-loach.jpg" class="d-block w-100" alt="..." style="height: 500px;">
              </div>
              <div class="carousel-item">
                <img src="Pictures/20_Best_blue_acara_tank_mates/bristlenose-pleco.jpg" class="d-block w-100" alt="" style="height: 500px;">
              </div>
              <div class="carousel-item">
                <img src="Pictures/20_Honey_gourami_tank_mates/cherry-barb.jpg" class="d-block w-100" alt="" style="height: 500px;">
              </div>
              <div class="carousel-item">
                <img src="Pictures/20_Honey_gourami_tank_mates/cherry-barb.jpg" class="d-block w-100" alt="" style="height: 500px;">
              </div>
              <div class="carousel-item">
                <img src="Pictures/20_Honey_gourami_tank_mates/kuhli-loach.jpg" class="d-block w-100" alt="" style="height: 500px;">
              </div>
              <div class="carousel-item">
                <img src="Pictures/20_Honey_gourami_tank_mates/otocinclus-catfish.jpg" class="d-block w-100" alt="" style="height: 500px;">
              </div>
              <div class="carousel-item">
                <img src="Pictures/20 Best Glass Catfish Tank Mates/harlequin-rasboras.jpg" class="d-block w-100" alt="" style="height: 500px;">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>



    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4">
                <img src="Pictures/20 Best Bristlenose Pleco Tank Mates/betta-fish-tank-mates.jpg" alt="" class="img-thumbnail">
                <p class="phome">Betta Fish, known for their striking colors and flowing fins, are a popular choice for many aquarium enthusiasts. However, when it comes to keeping them with Bristlenose Plecos, compatibility can be a bit tricky due to their territorial nature.</p>
            </div>
            <div class="col-sm-4">
                <img src="Pictures/20 Best Bristlenose Pleco Tank Mates/black-ghost-knifefish.jpg" alt="" class="img-thumbnail">
                <p class="phome">Molly Fish, known for their bright colors and peaceful demeanor, are a popular choice in community aquariums. Their adaptable nature allows them to share a tank with various species, including Bristlenose Plecos.</p>
              </div>
              <div class="col-sm-4">
                <img src="Pictures/20 Best Bristlenose Pleco Tank Mates/black-molly-fish.jpg" alt="" class="img-thumbnail">
                <p class="phome">Black Ghost Knife Fish are mysterious, captivating creatures that can make an intriguing addition to a Bristlenose Pleco community tank. Their nocturnal nature and unique appearance can add an element of surprise to your aquarium experience.</p>
              </div>
            </div>
    </div>


    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4">
                <img src="Pictures/30 Best Discus Fish Tank Mates/apistogramma-cacatuoides.jpg" alt="" class="img-thumbnail">
                <p class="phome">Dwarf Cichlids, specifically from the Apistogramma genus, are small, vibrantly colored cichlids native to the Amazon Basin. With various species and color variations, these fish display a stunning array of fins and body shapes.</p>
            </div>
            <div class="col-sm-4">
                <img src="Pictures/30 Best Discus Fish Tank Mates/bloodfin-tetra.jpg" alt="" class="img-thumbnail">
                <p class="phome">Bloodfin Tetras are small, hardy, freshwater fish known for their striking red coloration on their fins. Hailing from South American river basins, they add a pop of color to planted aquariums and make great additions to discus fish tanks.</p>
            </div>
            <div class="col-sm-4">
                <img src="Pictures/30 Best Discus Fish Tank Mates/boesemani-rainbowfish.jpg" alt="" class="img-thumbnail">
                <p  class="phome">Boesemani Rainbowfish are visually stunning and active swimmer native to the waters of New Guinea. They are best known for their striking two-toned coloration, with males showcasing vibrant shades of blue and yellow.</p>
            </div>
        </div>
    </div>
</div>

<p class="container">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">Table of information about fish species</button>
  </p>
  <div style="min-height: 120px; background-color:  rgb(190, 237, 239);" >
    <div class="collapse collapse-horizontal" id="collapseWidthExample">
      <div class="card card-body">
        <div class="container">
          <!-- <div> -->
            <!-- <label for="">Search Enter</label> -->
            <!-- <input type="text" ng-model="id"> -->
          <!-- </div> -->
            <div class="btn-group" role="group" aria-label="Basic example">
              <input type="search" ng-model="id" placeholder="Search Enter">                            
              <button class="btn btn-primary"><i class="fa-solid fa-magnifying-glass fa-xl"></i></button>
              <i class="fa-regular fa-hand-back-point-right fa-shake fa-2xl" style="color: #f0660a;"></i>
            </div><br>
            <table class="table table-hover table-striped">
                    <tr>
                        <th>No</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Size(inch)</th>
                        <th>Temperament</th>
                        <th>Compatibility</th>
                    </tr>
                    <tr ng-repeat="item in data|orderBy:sortType:sortReverse|filter:id">
                        <td>{{$index+1}}</td>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.size}}</td>
                        <td>{{item.temperament}}</td>
                        <td>{{item.compatibility}}</td>
                    </tr>   
            </table>
        </div>
      </div>
    </div>
  </div>
</div>